<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Experience</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar fixed-top shadow-sm border-bottom navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="./index.html">NTULI<span  class="text-light bg-secondary">SS</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse justify-content-end navbar-collapse" id="navbarNav">
        <ul class="text-center align-items-center navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="./index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./experience.html">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./education.html">Education </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./project.html">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./music.html">Extra-mural<br>Activities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./contact.html">Contact</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>

    <!-- Work Experience 1 -->

    <section class="mt-5 pt-5">
        <div class="container-sm shadow rounded border">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h5>
                            Electronics Engineer, Transnet Freight Rail
                        </h5>
                        <p class="lead">
                            Traffic Management Technologies
                        </p>
                    </div>

                    <div class="col text-end">
                        <p class="">August 2023 - Present</p>
                    </div>
                </div>
                <hr>
                <div class="row ">
                    <ul>
                        <li>
                            <p >System integration and automation using python and Postgress SQL.</p>
                        </li>
                        <li>
                            <p >Research and development of image processing and deep learning solutions using python and TensorFlow</p>
                        </li>
                        <li>
                            <p >Implementation and deployment of robotic process automation solutions using Microsoft Power Platform(PowerApps, Power Automate and SharePoint).</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    
    <section class="my-4">
        <div class="container-sm shadow rounded border">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h5>
                            Network Operating Centre Manager, Transnet Freight Rail
                        </h5>
                        <p class="lead">
                            Rail Network Planning
                        </p>
                    </div>

                    <div class="col text-end">
                        <p class="">Jul 2022 - Jul 2023</p>
                    </div>
                </div>
                <hr>
                <div class="row ">
                    <ul>
                        <li>
                            <p >Lead a team of technicians to ensure effective and efficient monitoring of telecommunication network elements nationally.</p>
                        </li>
                        <li>
                            <p >Facilitate internal and external interface stakeholder engagements.</p>
                        </li>
                        <li>
                            <p >Perform telecommunication network elements’ system performance analysis to assist with business decisions using SAP and Microsoft Excel pivot tables.</p>
                        </li>
                        <li>
                            <p >Manage telecommunication department’s fault management process nationally.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section class="my-4">
        <div class="container-sm shadow rounded border">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h5>
                            Telecoms Engineer, Transnet Freight Rail
                        </h5>
                        <p class="lead">
                            Transport Telecommunications
                        </p>
                    </div>

                    <div class="col text-end">
                        <p class="">Feb 2021 - Jun 2022</p>
                    </div>
                </div>
                <hr>
                <div class="row ">
                    <ul>
                        <li>
                            <p >Project management from conceptual to close out phase.</p>
                        </li>
                        <li>
                            <p >Contract management of Telecoms COPEX projects from contractor to close out phase while ensuring compliance with the applicable environmental and safety regulations.</p>
                        </li>
                        <li>
                            <p >Co-ordinate major breakdowns to reduce the network outage duration, hence reducing business impact.</p>
                        </li>
                        <li>
                            <p >Develop maintenance plan for telecommunications assets, inline with the OEM set standard, to prolong the asset life cycle.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


     <section class="my-4">
        <div class="container-sm shadow rounded border">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h5>
                            Engineer In Training, Transnet Freight Rail
                        </h5>
                        <p class="lead">
                            Transport Telecommunications
                        </p>
                    </div>

                    <div class="col text-end">
                        <p class="">May 2018 - Jan 2021</p>
                    </div>
                </div>
                <hr>
                <div class="row ">
                    <ul>
                        <li>
                            <p >Understand rail infrastructure engineering departments’ functions and their integration.</p>
                        </li>
                        <li>
                            <p >Conducted root cause analysis using lean six sigma methodology.</p>
                        </li>
                        <li>
                            <p >Technical manager on Telecoms department COPEX projects.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    
    <footer class="footer mt-5 pt-5">
        <hr>
        <p class="text-center fw-lighter "> © 2025 SS.Ntuli <a href="https://www.linkedin.com/in/sihle-sibusiso-ntuli-44599a88/"><i class="bi bi-linkedin"></i></a></p>
        <!-- <a href="https://www.youtube.com/@ntulikid2447">
            <img class="social-media" src="./Images/youtube-svgrepo-com.svg">
        </a>
        <a href="https://www.facebook.com/sihle.ntuli.9/about/">
            <img class="social-media" src="./Images/facebook-svgrepo-com.svg">
        </a>
        <a href="https://www.instagram.com/reel/DMkBPHAtO8l/">
            <img class="social-media" src="./Images/instagram-svgrepo-com.svg">
        </a> -->
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>